<title><%= head.title && head.title %></title>
<meta name="keywords" content="<%= head.keywords && head.keywords %>">
<meta name="description" content="<%= head.description && head.description %>">
<link rel="icon" href="/uploads/favicon.ico">