<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css" />
  </head>

  <body page="home">
    <%- include('components/header'); -%>
    <main>
      <div class="present">
        <div class="present_background"></div>
        <p class="present_principal">
          区别于传统互联网建站公司，我们站在品牌的高度，以策略的思维，注重细节，创造卓越视觉享受与体验的高端网站建设
        </p>
        <div class="present_img">
          <img
            src="/uploads/contact/c562879e23c5953602d3742811637924.png"
            alt=""
          />
          <div class="img_grayscale"></div>
        </div>

        <div class="detailed_introduction">
          <div class="detailed_introduction_quotation_mark">
            “
          </div>
          Redesign是一个创造性的企业围绕“极简”核心理念，帮助企业全面策划并分析品牌展示方向聚焦品牌核心定位，从商业品牌官网设计出发结合品牌内容策划、视觉传达、数字营销打造完整的品牌视觉输出生态从而帮助企业聚焦品牌核心竞争力来获取成果
        </p>
      </div>
      <div class="companion">
        <div class="companion_title">合作伙伴</div>
        <div class="companion_list">
          <img class="companion_item" src="/uploads/contact/image 16.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 17.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 18.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 19.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 20.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 21.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 22.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 23.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 24.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 25.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 26.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 27.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 28.png" alt="">
          <img class="companion_item" src="/uploads/contact/image 29.png" alt="">
        </div>
        <div class="companion_line"></div>
      </div>
    </main>

    <%- include('components/footer'); -%>
  </body>
</html>
