<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/index.css' />
</head>

<body page="home">
  <%- include('components/header'); -%>
  <main>
    <div class="banner">
      <div class="container">
        <div class="banner-text wow text-down" style="animation-delay: 2.4s;">
          <p>红设视觉，专注企业网站策划、设计、制作与系统开发服务，秉承“美学”品牌理念，探索营销策略、美学视觉、传达品牌美学视觉生态营销模式，塑造企业非凡的企业网站形象。</p>

          <p class="text-en">Helping Global Innovative Enterprises Provide digital brand services with aesthetic vision
          </p>
          <h1>塑造美学网站倡导者</h1>
          <a href="/contact.html" class="btn-click project-consult magnetic" data-strength="25" data-strength-text="15">
            <div class="btn-fill"></div>
            <span class="btn-text">
              <span class="btn-text-inner change3">项目咨询</span>
            </span>
          </a>
        </div>
        <div class="banner-img"></div>
      </div>
    </div>
    <div class="section section1 container wow text-down">
      <div class="section1-item">
        <div class="section1-img">
          <img src="/images/index/section1-1.jpg" alt="section1-1" />
        </div>
        <h4>美学视觉重构策略</h4>
        <div class="tags">
          <span>品牌核心识别</span>
          <span>统一视觉生态</span>
        </div>
      </div>
      <div class="section1-item">
        <div class="section1-img">
          <img src="/images/index/section1-1.jpg" alt="section1-1" />
        </div>
        <h4>美学视觉重构策略</h4>
        <div class="tags">
          <span>品牌核心识别</span>
          <span>统一视觉生态</span>
        </div>
      </div>
      <div class="section1-item">
        <div class="section1-img">
          <img src="/images/index/section1-1.jpg" alt="section1-1" />
        </div>
        <h4>美学视觉重构策略</h4>
        <div class="tags">
          <span>品牌核心识别</span>
          <span>统一视觉生态</span>
        </div>
      </div>
    </div>

    <div class=" section section2 container wow text-down">
      <div class="content">
        <div class="section2-text">
          <p class="ours">OUR CUSTOMER</p>
          <h2>如何用美学视觉策略<br />
            重塑企业的<br />
            品牌核心调性</h2>

          <a href="/contact.html" class="btn-click research-dircetion magnetic">
            <div class="btn-fill"></div>
            <span class="btn-text">
              <span class="btn-text-inner change3">研究方向</span>
            </span>
          </a>
        </div>


        <div class="section section2-img"></div>
      </div>
    </div>
    <section class="section section3 container wow text-down">
      <div class="l">Take A Look<br> At Service</div>
      <div class="btn btn-round circle">
        <a class="btn-click magnetic " data-strength="100" data-strength-text="50">
          <div class="btn-fill"></div>
          <span class="btn-text">
            <span class="btn-text-inner change3">
              <div class="st">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <circle cx="7" cy="7" r="7" fill="#ff0000"></circle>
                </svg>
                <p>cases</p>
              </div>
              <div class="st">专案作品</div>
            </span>
          </span>
        </a>
      </div>
      <div class="r">
        We Can <br> Do For You
      </div>
    </section>

    <section class="section section4 case">
      <div class="cases container">
        <a href="/caseInfo/9.html" class="wow text-down hover-rotate-container">
          <div class="pic company-card w-inline-block hover-rotate-inner">
            <img src="uploads/case-img.jpg" alt="">
          </div>
          <div class="text">
            <p class="p1">华为</p>
            <div class="des">
              极简慕枫与华为携手合作，共同打造了一个引领科技潮流的品牌官网。这个官网不仅汇聚了华为最前沿的技术资讯和创新产品，更通过极简慕枫的专业网站设计，为用户带来流畅、直观、极致的浏览体验。在这里，用户能够深入了解华为的科技创新实力，感受其智慧生活的魅力。同时，这个官网也成为了华为品牌展示、产品推广、互动交流的重要平台，为华为与用户之间建立了更加紧密的联系。
            </div>
            <div class="tag">
              <p>集团官网建设</p>
              <p>视觉设计</p>
            </div>
          </div>
        </a>
        <a href="/caseInfo/12.html" class="wow text-down hover-rotate-container">
          <div class="pic company-card w-inline-block hover-rotate-inner">
            <img src="uploads/case-img.jpg" alt="">
          </div>
          <div class="text">
            <p class="p1">迪卡侬Perfly独立站</p>
            <div class="des">
              极简慕枫与全球知名体育用品零售巨头迪卡侬（Perfly）达成战略合作，共同打造了一个集运动、时尚与科技于一体的全新线上购物平台。这一平台不仅展现了迪卡侬在运动装备领域的专业与多元，更通过极简慕枫的精湛技艺，为用户带来了一种直观、流畅且极富吸引力的购物体验。同时，这个线上平台还注重用户体验，通过极简的设计风格、直观的导航以及高效的购物流程，确保用户能够享受到便捷、舒适的购物体验。这一合作不仅提升了迪卡侬品牌的在线影响力，也为运动爱好者提供了一个集购物、学习与交流于一体的综合性平台。
            </div>
            <div class="tag">
              <p>品牌独立站建设</p>
              <p>视觉设计</p>
            </div>
          </div>
        </a>
        <a href="/caseInfo/15.html" class="wow text-down hover-rotate-container">
          <div class="pic company-card w-inline-block hover-rotate-inner">
            <img src="/uploads/case-img.jpg" alt="">
          </div>
          <div class="text">
            <p class="p1">极简慕枫品牌官网——2.0</p>
            <div class="des">
              极简慕枫，专注于品牌视觉生态设计，秉承“极简”品牌理念，探索极简策略、极简视觉、极简传达的品牌视觉生态营销模式，研究品牌官网到品牌全案视觉生态的全方位品牌数字化设计。在信息爆炸的时代，我们如何用最简单最直接的方法将信息最有效地传达给我们客户是我们的研究方向。
            </div>
            <div class="tag">
              <p>品牌官网建设</p>
              <p>视觉设计</p>
              <p>品牌迭代升级</p>
            </div>
          </div>
        </a>
        <a href="/caseInfo/13.html" class="wow text-down hover-rotate-container">
          <div class="pic company-card w-inline-block hover-rotate-inner">
            <img src="/uploads/case-img.jpg" alt="">
          </div>
          <div class="text">
            <p class="p1">舜宇智能光学</p>
            <div class="des">
              极简慕枫与舜宇智能光学携手合作，共同打造了一个兼具科技感与艺术美感的品牌官网。这一官网不仅展现了舜宇智能光学在光学科技领域的领先地位，更通过极简慕枫的精湛技艺，为用户带来了一种极具吸引力的视觉盛宴。极简慕枫凭借其深厚的网站建设经验，将舜宇智能光学的创新科技、高品质产品以及独特的设计理念完美融合。官网设计简洁而不失深度，既突出了舜宇智能光学的专业性，又体现了品牌的独特魅力。用户可以通过这个官网轻松了解舜宇智能光学的最新技术成果、产品线以及应用案例，同时还能享受到流畅且富有创意的用户体验。
            </div>
            <div class="tag">
              <p>品牌官网建设</p>
              <p>视觉设计</p>
            </div>
          </div>
        </a>
      </div>

      <div class="more wow text-down ">
        <a href="/cases.html?id=13" class="btn-click magnetic case-more">
          <div class="btn-fill" style="background-color: #000;"></div>
          <span class="btn-text">
            <span class="btn-text-inner change">了解更多</span>
          </span>
        </a>
      </div>


    </section>


    <div class="section is-manifesto black_section">
      <div class="container is-manifesto">
        <div class="manifesto_text-wrap">
          <div class="st ours">
            <p>ABOUT US</p>
          </div>
          <h3 class="is--white manifesto_heading split-lines pc">
            <p class="manifesto_heading_title">塑造品牌美学<span style="font-weight: 200;">倡导者</span></p>
            <p>红设视觉，是一个独特性的设计工作室</p>
            <p>围绕“美学”核心理念，帮助企业全面策划并分析品牌展示方向</p>
            <p>探索营销策略、美学视觉、传达品牌美学视觉生态营销模式，</p>

            <p>塑造企业非凡的企业网站形象。</p>

            <p class="en frist-en">Redesign is a unique design studio that revolves around the core concept of
              "aesthetics" to
              help
              businesses</p>
            <p class="en">comprehensively plan and analyze their brand presentation direction. We explore marketing
              strategies,</p>
            <p class="en">aesthetic visuals, and convey brand aesthetic visual ecological marketing models to shape
              extraordinary
            </p>
            <p class="en">corporate website images for businesses.</p>
          </h3>

          <h3 class="is--white manifesto_heading split-lines mobile">
            <p class="manifesto_heading_title">塑造品牌美学<span style="font-weight: 200;">倡导者</span></p>
            <p>红设视觉，是一个独特性的设计工作室</p>
            <p>围绕“美学”核心理念，</p>
            <p>帮助企业全面策划并分析品牌展示方向</p>
            <p>探索营销策略、美学视觉、</p>
            <p>传达品牌美学视觉生态营销模式，</p>

            <p>塑造企业非凡的企业网站形象。</p>

            <p class="en frist-en">Redesign is a unique design studio that revolves around</p>
            <p class="en"> the core concept of "aesthetics" to helpbu sinesses</p>
            <p class="en">comprehensively plan and analyze their brand p</p>
            <p class="en">
              resentation direction. We explore marketingstrategies,
            </p>
            <p class="en">aesthetic visuals, and convey brand aesthetic
            </p>
            <p class="en">
              visual ecological marketing models to shapeextraordinary
            </p>
            <p class="en">corporate website images for businesses.</p>
          </h3>
        </div>

        <div class="manifesto_description-wrap wow text-down">
          <img src="/uploads/index-about.svg" alt="">

        </div>
      </div>
    </div>

    <section class="section5">
      <!-- <div class="title">
        <p class="p1">pithy mfweb</p>
        <p class="p2">大道至简，简中求极，是谓“极简”</p>
      </div> -->
      <div class="allItems">
        <div class="item wow text-down active">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="121" height="125" viewBox="0 0 121 125" fill="none">
              <mask id="path-1-inside-1_818_2202" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M112 113.001H12V13C12 13 12.0001 13 12.0001 13C67.2286 13 112 57.7715 112 113C112 113 112 113.001 112 113.001Z" />
              </mask>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M112 113.001H12V13C12 13 12.0001 13 12.0001 13C67.2286 13 112 57.7715 112 113C112 113 112 113.001 112 113.001Z"
                fill="white" fill-opacity="0.35" />
              <path
                d="M112 113.001V114.001H113V113.001H112ZM12 113.001H11V114.001H12V113.001ZM12 13V12H11V13H12ZM112 112.001H12V114.001H112V112.001ZM13 113.001V13H11V113.001H13ZM12 14C12 14 12 14 12 14C12.0001 14 12.0001 14 12.0001 14V12C12.0001 12 12.0001 12 12 12C12 12 12 12 12 12V14ZM12.0001 14C66.6763 14 111 58.3238 111 113H113C113 57.2192 67.7808 12 12.0001 12V14ZM111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113 111 113 111 113V113C111 113 111 113 111 113C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001C111 113.001 111 113.001 111 113.001V113.001C111 113.001 111 113.001 111 113.001H113C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113.001C113 113.001 113 113.001 113 113.001V113.001C113 113.001 113 113.001 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113C113 113 113 113 113 113C113 113 113 113 113 113C113 113 113 113 113 113V113C113 113 113 113 113 113H111Z"
                fill="black" mask="url(#path-1-inside-1_818_2202)" />
              <path d="M13 12.5L108.5 112" stroke="black" stroke-dasharray="13 13" />
              <circle cx="12.5" cy="112.5" r="12" fill="white" stroke="black" />
              <circle cx="12.5" cy="12.5" r="12" fill="white" stroke="black" />
              <circle cx="108.5" cy="112.5" r="12" fill="white" stroke="black" />
            </svg>
          </div>
          <div class="dt">美学塑造</div>

          <div class="dt2"><span>塑造</span>用户对品牌<span>第一印象</span></div>
          <div class="des">
            <p><span
                style="white-space-collapse: preserve;">通过美学设计独特的视觉元素和吸引人的外观，使品牌在众多竞争者中脱颖而出。一个让客户印象深刻和独特的网站可以快速与竞争对手区分开来。</span>
            </p>
            <div>&nbsp;</div>
          </div>
        </div>
        <div class="item wow text-down">
          <div class="icon">
            <svg width="134" height="150" viewBox="0 0 134 150" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.4629 116.369L66.4297 19.1065L109.396 116.369H23.4629Z" fill="white" fill-opacity="0.35"
                stroke="black" />
              <path
                d="M112.213 106.5L117.842 85.5L118.325 85.6295L120.656 76.9311L122.988 85.6295L123.471 85.5L129.1 106.5L128.617 106.629L131.263 116.5H126.285V117H115.027V116.5H110.05L112.695 106.629L112.213 106.5Z"
                fill="white" fill-opacity="0.35" stroke="black" stroke-dasharray="20 20" />
              <path
                d="M4.55625 106.5L10.1854 85.5L10.6684 85.6295L13 76.9311L15.3316 85.6295L15.8146 85.5L21.4437 106.5L20.9608 106.629L23.6067 116.5H18.6292V117H7.37084V116.5H2.39335L5.0392 106.629L4.55625 106.5Z"
                fill="white" fill-opacity="0.35" stroke="black" stroke-dasharray="20 20" />
              <circle cx="66.5" cy="12.5" r="12" fill="white" stroke="black" />
            </svg>
          </div>
          <div class="dt">深刻印象</div>

          <div class="dt2"><span>深刻</span>用户对品牌<span>第一印象</span></div>
          <div class="des">
            <p><span
                style="white-space-collapse: preserve;">通过美学设计独特的视觉元素和吸引人的外观，使品牌在众多竞争者中脱颖而出。一个让客户印象深刻和独特的网站可以快速与竞争对手区分开来。</span>
            </p>
            <p style="text-align: justify;">&nbsp;</p>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('components/footer'); -%>
  </div>


  <script src="js/split-type.js" defer></script>
  <!-- <script src="/js/anime.min.js" defer></script> -->
  <script src="/js/index.js" defer></script>

</body>

</html>