<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/liaison.css" />
  <link rel="stylesheet" href="css/liaison.media.css" />
</head>

<body page="home">
  <%- include('components/header'); -%>
    <main>
      <div class="liaison_head">
        <div class="liaison_head_left">
          <div class="liaison_head_left_p1">联系我们</div>
          <p class="liaison_head_left_p2">您可以直接留言我们需求或者电话/微信联系我们</p>
        </div>
        <div class="liaison_head_right">
          <p class="liaison_head_right_p1">商务合作</p>
          <p class="liaison_head_right_p2">136 6704 3458</p>
          <div class="liaison_head_right_two_dimensional_barcode">
            <img src="" alt="二维码">
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          服务需求
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;品牌生态视觉策略
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;网站设计开发
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;品牌视觉识别
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;软件系统开发
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;Global全球数字化营销
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          项目群体
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;ToB
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;ToC
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;国内
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;国外
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;全部
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          项目方向
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;外贸
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;营销
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;产品展示为主
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;品牌展示为主
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;工厂/研发实力
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;集团
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;其他
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          初步需求：项目的基本需求，栏目、内容规划、功能、风格等有了吗？
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;有，但需要完善
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;有，十分完善
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;没有，但已经在整理中
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;没有，需要极简慕枫规划
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          需求产生原因
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;品牌升级，需要迭代
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;视觉不好看
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;功能不齐全
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;需求增加
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          时间规划：计划项目完成时间
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;1个月内
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;1-2个月
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;3-6个月
          </div>
        </div>

      </div>
      <div class="button_group">
        <div class="button_group_title">
          项目预算：
        </div>
        <div class="button_list">
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;1w以内
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;1w-5w
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;5w-8w
          </div>
          <div class="checkbox">
            <input type="checkbox">
            &nbsp;&nbsp;8w以上
          </div>
        </div>

      </div>
      <div>
        <div class="button_group_title">
          客户资料:
        </div>
        <div class="customer_information">
          <input placeholder="公司全称" type="text">
          <input placeholder="联系人" type="text">
          <input placeholder="联系方式" type="text">
          <input placeholder="联系邮箱" type="text">
          <input placeholder="官网" type="text">
          <input placeholder="留言" type="text">
          <div class="submit">
            提交
          </div>
        </div>
      </div>
    </main>


    <%- include('components/footer'); -%>
</body>

</html>