.section1 {
    text-align: center;
}

.section1 h1 {
    font-size: 72rem;
    margin-bottom: 30rem;
}

.section1 .tag {
    font-size: 0;
    margin-bottom: 40rem;
}

.section1 .sub-title {
    font-size: 32rem;
    margin-bottom: 40rem;
}

.section1 p {
    display: inline-block;
    max-width: 1190rem;
    font-size: 18rem;
    color: #000;

}

.section1 .tag span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #F04444;
    padding: 10rem 24rem;
    margin: 0 10rem;
    font-size: 14rem;
}

.btn-click.project-info {
    border: 1rem solid #000;
    color: #000;
    width: 260rem;
    height: 60rem;
    margin: 80rem auto 75rem;

}

.btn-click.project-info .btn-fill {
    background-color: #000;
}

.btn-click.project-info .btn-text {
    font-size: 18rem;
    color: #000;
}