@media (max-width:1024px) {

    main {
        padding-bottom: 60px;
    }

    .liaison_head {
        display: block;
        justify-content: space-between;
        padding: 0 5%
    }

    .liaison_head_left {
        /* position: relative; */
    }

    .liaison_head_left .liaison_head_left_p1 {
        font-size: 50px;
        font-weight: 400;
        line-height: 1.2;
        position: relative;
    }

    .liaison_head_left .liaison_head_left_p1::before {}

    .liaison_head_left .liaison_head_left_p2 {
        margin-top: 20rem;
        font-size: 18rem;
        font-weight: 400;
        line-height: 25.2rem;
        text-align: left;
    }

    .liaison_head_right {
        margin-top: 30rem;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .liaison_head_right_p1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24.7rem;
    }

    .liaison_head_right_p2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 38.42rem;
    }

    .liaison_head_right_two_dimensional_barcode {
        width: 80px;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .liaison_head_right_two_dimensional_barcode img {
        width: 100%;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .button_group {}

    .button_group_title {
        font-size: 16px;
        line-height: 1.2;
        padding: 20px 0 20px 5%;
    }

    .button_list {
        padding: 20px 0 20px 5%;
        background: #D9D9D966;
        display: flex;
        flex-wrap: wrap;
        gap: 20rem 50rem;
        min-height: 110rem;
        font-size: 13px;
    }

    .checkbox {
        display: flex;
        align-items: center;
        width: auto;

    }

    .customer_information {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10rem 0;
    }

    .customer_information .input-item {
        width: 100%;
    }

    .customer_information .input-item input {
        height: 40px;
        font-size: 14px;
        padding: 10px;
    }



    .customer_information .submit {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 54rem;
        text-align: center;
        color: #fff;
        background-color: #000;

    }
}