.banner {
    min-height: 800rem;
    background: #000;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7.7vw;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    background: radial-gradient(rgba(255, 0, 0, 0.52), rgba(0, 0, 0, 0) 70%);
    width: 400rem;
    height: 400rem;
    top: -380rem;
    right: 350rem;
    z-index: 101;

}

.banner::after {
    content: '';
    position: absolute;
    background: radial-gradient(rgba(255, 0, 0, 0.52), rgba(0, 0, 0, 0) 80%);
    width: 750rem;
    height: 750rem;
    bottom: -500rem;
    right: 350rem;
    z-index: 101;
}

.banner .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.banner-text {
    font-weight: 400;
    font-size: 12rem;
    line-height: 16.8rem;
    width: 522rem;
}

.banner-img {
    width: 714rem;
}

.banner-text svg {
    margin-bottom: 16.8px;
}

.banner-text .text-en {
    font-size: 22rem;
    font-weight: 200;
    line-height: 30.8rem;
    margin: 30rem 0 20rem;
}

.banner-text h1 {
    font-size: 58rem;
    font-weight: 700;
    line-height: 80rem;
}

.btn-click.project-consult {
    width: 400rem;
    height: 80rem;
    margin-top: 30rem;
    border: 1rem solid #fff;
}

.btn-click.project-consult .btn-text {
    font-size: 24rem;
    font-weight: 400;
}


.btn-click.research-dircetion {
    width: 130rem;
    height: 50rem;
    background-color: #000;
    border: 1rem solid #000;
    border-radius: 2rem;
}

.btn-click.research-dircetion .btn-text {
    font-size: 18rem;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 118rem !important;
    padding-bottom: 151rem !important;
    z-index: 102;
    position: relative;

}

.section1-item {
    width: 33%;
    border-left: 1rem solid #D9D9D9;
    padding: 24rem 0 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-img {
    height: 207rem;
    width: 207rem;
    position: relative;
}

.section1-img img {
    width: 100%;
    height: 100%;
    /* opacity: 0.2; */
}

.section1-img .main-bg-box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1
}

.section1-item::before {
    content: "";
    display: block;
    height: 130rem;
    width: 7rem;
    background-color: #FF0000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3.5rem;
    margin: auto;
}

.section1-item h4 {
    font-size: 36rem;
    margin: 33rem 0 20rem;
}

.section1-item:nth-of-type(1)::before {
    display: none;
}

.section1-item:nth-of-type(1) {
    border: none;
}

.section1-item .tags {
    font-size: 0;
}

.section1-item .tags span {
    display: inline-block;
    vertical-align: middle;
    padding: 0.6vw 1.92vw;
    font-size: 0.83vw;
    color: #fff;
    background-color: #000;
    border-radius: 44rem;
    margin: 0 10rem;
}

.section2 .content {
    padding-left: 19vw;
    display: flex;
    align-items: center;
}

.section2 .ours {
    font-family: Alibaba PuHuiTi;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.3;
}

.ours {
    display: flex;
    align-items: center;
}

.ours::before {
    content: "";
    display: block;
    width: 0.9vw;
    height: 0.9vw;
    background-color: #FF0000;
    margin-right: 0.8vw;
}

.section2 h2 {
    font-size: 3.7vw;
    font-weight: 400;
    position: relative;
    line-height: 1.36;
    margin-bottom: 1.8vw;
    margin-top: 10rem;
    color: #000;
}

.section2 h2::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #FF0000;
    width: 23vw;
    height: 3vw;
    bottom: -0.8vw;
    z-index: -1;
}

.section2-img {
    margin-left: -50rem;
}


.section3 {
    margin: 14vw 5em 5vw 5em;
    position: relative;
    padding: 2vw 0
}

.section3::before {
    content: '';
    display: block;
    height: 1rem;
    width: 50%;
    top: 50%;
    left: 25%;
    background-color: #000;
    position: absolute
}

.section3 .l {
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    font-size: 5vw;
    text-transform: capitalize;
    font-family: "PingFang SC", "Calibri", "opensans", "GothicArial", "Arial", "Microsoft YaHei", "San Francisco", 'Hiragino Sans GB', "Helvetica Neue";
    font-weight: 600
}

.section3 .r {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    color: #000;
    font-size: 5vw;
    text-transform: capitalize;
    font-family: "PingFang SC", "Calibri", "opensans", "GothicArial", "Arial", "Microsoft YaHei", "San Francisco", 'Hiragino Sans GB', "Helvetica Neue";
    font-weight: 600
}

.section3 .circle {
    width: 18.5vw;
    height: 18.5vw;
    margin: 0 auto
}

.section3 .circle .st {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 0
}

.section3 .circle .st p {
    font-size: 0.8vw;
    text-transform: uppercase;
    margin-left: 10rem;
    font-family: "PingFang SC", "Calibri", "opensans", "GothicArial", "Arial", "Microsoft YaHei", "San Francisco", 'Hiragino Sans GB', "Helvetica Neue"
}

.section3 .circle .st {
    font-size: 1.26vw
}

.section4 {
    position: relative;
}

.case-item {
    width: 50%;
}

/* .section4 {
    margin: 5vw 5em
} */

.section4 .cases {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.section4 .cases a {
    width: 49%;
    margin-bottom: 5.2vw;
    perspective: 25rem;
}

/* .section4 .cases a .pic:hover {
    will-change: transform;
    transform: translate (0rem, 0рх, 0рх) scale3d(1, 1, 1) rotateX(-4.0658deg) rotateY(4.955deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    background-color: rgb (23, 23, 23);
} */
.section4 .cases a .pic {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    width: 100%;
}

.section4 .cases a .pic img {
    width: 100%;
    display: block;
    object-fit: cover
}

.section4 .cases a .text {
    margin: 30rem 0 0;
}

.section4 .cases a .text .p1 {
    color: #000;
    font-size: 1.97vw;
    font-weight: 700;
    margin: 30rem 0 20rem;
}

.section4 .cases a .text .des {
    color: #000;
    font-size: 1.5vw;
    font-weight: 400;
    margin: 20rem 0;
    line-height: 1.6;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.section4 .cases a .text .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.section4 .cases a .text .tag p {
    display: inline-block;
    padding: 4rem 34rem;
    background: #000;
    color: #fff;
    line-height: 26rem;
    font-weight: 400;
}

.section4 .more a {
    width: 20vw;
    border: 1rem solid #000;
    background: transparent;
    display: block;
    text-align: center;

    transition: all 600ms;
    margin: 0 auto;
    border-radius: 0;
    height: 4.1vw;

}


.section4 .more a .btn-text {
    color: #000;
    font-size: 1.2vw;
}


.black_section {
    background: rgb(23, 23, 23);
    /* width: calc(100% - 10em) */
}

.black_section .st {
    display: flex;
    align-items: center;
    margin-bottom: 20rem;
}

.black_section .st p {
    color: #FFF;
    font-size: 0.9vw;
    /* text-transform: uppercase; */
    /* margin-left: 9rem; */
}

body .section4:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: rgb(23, 23, 23);
    opacity: 0;
    pointer-events: none;
    transition: .7s;
}

.section4.on:after {
    opacity: 1 !important;
}

.section.is-manifesto {
    position: relative;
    margin-top: 10em;
    z-index: 45;
}

.section.is-manifesto:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: calc(100% + 10rem);
    top: -10em;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: rgb(23, 23, 23);
    opacity: 0;
    pointer-events: none;
    transition: .7s;
}

.section.is-manifesto.on:after {
    opacity: 1 !important;
}

body .main-wrapper {
    background-color: #fff !important;
}

.section5 {
    width: 100%
}

.section5 .title {
    color: #fff;
    padding: 3vw 5em;
    background-color: #171717
}

.is--white {
    color: #fff;
}

.is--white.manifesto_heading {
    width: 75%;
    /* display: inline; */
}

.is--white.manifesto_heading.split-lines {
    width: 100%;
    display: inline;
    font-size: 1.8vw;
}

.is--white.manifesto_heading.split-lines.mobile {
    display: none;
}

.is--white.manifesto_heading.split-lines p {
    font-size: 1.6vw;
    font-weight: 600;
    font-family: "Alibaba PuHuiTi";
    display: block !important;
    white-space: nowrap;
}

.is--white.manifesto_heading.split-lines .manifesto_heading_title {
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 30rem;
}

.is--white.manifesto_heading.split-lines .en {
    font-size: 1vw;
    font-weight: 200;
}

.is--white.manifesto_heading.split-lines .frist-en {
    margin-top: 20rem;
}

.container.is-manifesto {
    /* grid-column-gap: 2.5em; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10em;
    padding-bottom: 7vw;
    display: flex;
    position: relative;
}

.line {
    position: relative;
    display: inline-block;
}

.line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #171717;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.manifesto_text-wrap {
    width: 60%;
    position: relative;
    opacity: 0;
    transition: all 0.6s ease;
}

.manifesto_description-wrap svg {
    width: 28.8vw;
    height: auto;
}



.section5 .title .p1 {
    font-size: 1.26vw;
    font-family: "PingFang SC", "Calibri", "opensans", "GothicArial", "Arial", "Microsoft YaHei", "San Francisco", 'Hiragino Sans GB', "Helvetica Neue";
    text-transform: capitalize;
    font-weight: 200
}

.section5 .title .p2 {
    font-size: 2vw;
    font-weight: 600
}

.section5 .allItems {
    display: flex;
    justify-content: space-between
}

.section5 .allItems .item {
    width: 50%;
    padding: 6vw 5em 8vw 5em;
    background: #171717;
    transition: all 600ms;
    color: #FFF
}

.section5 .allItems .item .icon {
    height: 100px;
    width: 100px;
    display: flex
}

.section5 .allItems .item .dt {
    font-size: 2.1vw;
    font-weight: 600;
    margin-top: 30rem
}

.section5 .allItems .item .dt2 {
    font-weight: lighter;
    font-size: 1.26vw;
    margin: 10rem 0 20rem 0;
    letter-spacing: 1rem
}

.section5 .allItems .item .dt2 span {
    font-weight: bold;
    margin: 0 2rem
}

.section5 .allItems .item .des {
    opacity: .5;
    font-size: .9vw;
    font-weight: 300;
    line-height: 1.6
}

.section5 .allItems .active {
    background: #F04444;
    /* color: #1E1E1E */
}

.section5 .allItems .active .des {
    opacity: 1
}



.footer {
    padding-bottom: 0;
    width: 100%;
    will-change: transform;
}

@media screen and (max-width: 1266px) {
    .section5 .allItems .item {
        padding: 30px 10%;
    }

    .section5 .allItems .item .dt {
        font-size: 20px;
    }

    .section5 .allItems .item .dt2 {
        margin: 10px 0;
        font-size: 18px;
    }

    .section5 .allItems .item .des {
        font-size: 14px;
    }

}

@media screen and (max-width: 1024px) {
    .section1-item .tags span {
        font-size: 12px;
        padding: 6px 12px;
    }

    .section1-item h4 {
        font-size: 28px;
    }

    .section4 .cases a .text .p1 {
        font-size: 20px;
    }

    .section4 .cases a .text .des {
        font-size: 14px;
    }

    .section2 .ours {
        font-size: 26px;
    }

    .section2 h2 {
        font-size: 26px;
    }

    .section4 .more a {
        font-size: 40px;
        height: 50px;
        width: 90%;
        margin: 0 5%;
    }

    .section4 .more a .btn-text {
        font-size: 24px;
    }

    .manifesto_description-wrap {
        text-align: center;
    }

    .manifesto_description-wrap svg {
        width: 60%;
    }
}

@media screen and (max-width: 860px) {
    .banner {
        padding-left: 0;
    }


    .banner-img {
        width: 90%;
        margin-top: 40px;
    }

    .banner .container {
        flex-direction: column;
        align-items: center;

    }


    .banner-text {
        width: 100%;
        font-size: 12px;
    }

    .banner-text .text-en {
        font-size: 20px;
    }

    .banner-text h1 {
        font-size: 50px;
        line-height: 1.5;
    }

    .section1 {

        flex-wrap: wrap;
        margin: 70px 0;
    }

    .section1-item {
        width: 50%;
    }

    .section1-item:last-child {
        border-left: 0;

    }

    .section1-item:last-child::before {
        display: none;
    }

    .section2 .content {
        padding-left: 0;
    }

    .section3 {
        margin: 70px 30px;
    }

    .section3 .r,
    .section3 .l {
        font-size: 30px;
    }

    .section3 .circle {
        width: 200px;
        height: 200px;
    }

    .section3::before {
        width: 100%;
        left: 0;
    }

    .container.is-manifesto {
        flex-direction: column-reverse
    }

    .section.is-manifesto:after {
        top: -70px;
    }

    .section.is-manifesto {
        margin-top: 70px;
    }

    .container.is-manifesto {
        padding-top: 70px;
    }

    .manifesto_text-wrap {
        width: 100%;
    }

    .is--white.manifesto_heading.split-lines p {
        font-size: 20px;
    }

    .is--white.manifesto_heading.split-lines .en {
        font-size: 13px;
    }

    .is--white.manifesto_heading.split-lines.pc {
        display: none;
    }

    .is--white.manifesto_heading.split-lines.mobile {
        display: block;
    }

    .allItems {
        flex-direction: column;
    }

    .section5 .allItems .item {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .is--white.manifesto_heading.split-lines p {
        font-size: 18px;
    }

    .is--white.manifesto_heading.split-lines .en {
        font-size: 14px;
    }

    .banner-text h1 {
        font-size: 30px;
    }

    .btn-click.project-consult {
        width: 80%;
    }

    .banner-text .text-en {
        font-size: 18px;
    }

    .section1 {
        flex-direction: column;
    }

    .section1-item {
        width: 100%;
        border-left: 0;
    }

    .section1-item::before {
        display: none;
    }

    .section3 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        margin: 40px;
    }

    .section3 .circle .st {
        font-size: 18px;
    }

    .section3 .circle .st p {
        font-size: 16px;
    }

    .section4 .cases {
        flex-direction: column;
    }

    .section4 .cases a {
        width: 100%;
    }

    .section2 .content {
        flex-direction: column;
    }

    .section2-img {
        margin-left: 0;
        margin-top: 50px;
    }

    .section2 .content {
        align-items: flex-start;
    }



}