main {
    padding-bottom: 100rem;
}

.liaison_head {
    display: flex;
    justify-content: space-between;
    padding: 100rem 160rem 80rem;
}

.liaison_head_left {
    /* position: relative; */
}

.liaison_head_left .liaison_head_left_p1 {
    font-size: 88rem;
    font-weight: 400;
    line-height: 123.2rem;
    position: relative;
}

.liaison_head_left .liaison_head_left_p1::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: red;
}

.liaison_head_left .liaison_head_left_p2 {
    margin-top: 20rem;
    font-size: 18rem;
    font-weight: 400;
    line-height: 25.2rem;
    text-align: left;
}

.liaison_head_right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.liaison_head_right_p1 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 24.7rem;
}

.liaison_head_right_p2 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 38.42rem;

}

.liaison_head_right_two_dimensional_barcode {
    width: 120rem;
    height: 120rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.liaison_head_right_two_dimensional_barcode img {
    width: 100%;
}

.button_group {}

.button_group_title {
    font-size: 18rem;
    font-weight: 400;
    line-height: 19.8rem;
    padding: 20rem 160rem;
}

.button_list {
    padding: 30rem 160rem;
    background: #D9D9D966;
    display: flex;
    flex-wrap: wrap;
    gap: 20rem 50rem;
}

.checkbox {
    display: flex;
    align-items: center;
}

.customer_information {
    padding-left: 160rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30rem 0;
}

.customer_information input {
    width: 33%;
    height: 54rem;
}

.customer_information .submit {
    width: 100%;
    height: 54rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 54rem;
    text-align: center;
    color: #fff;
    background-color: #000;

}