@media (max-width:1024px) {

    .site_page {
        padding: 20rem 100rem 100rem;
        display: block;
        height: auto;
    }

    .site_page .left_text {
        width: 100%;
        padding-top: 0rem;
        margin-right: 0;
    }

    .site_page .left_text h2 {
        margin: 0;
        font-size: 44rem;
        font-weight: 600;
        line-height: 60rem;
        text-align: left;
    }

    .site_page .left_text span {
        margin-top: 28rem;
        font-size: 20rem;
        /* font-weight: 400; */
        line-height: 24rem;
        text-align: left;

    }

    .site_page .AboutHeroBx-preserve {
        display: flex;
        justify-content: center;
        position: relative;
        height: 620rem;
        padding-top: 100rem;
        z-index: -1;
        width: 100%;
    }


    .site_page .AboutHeroBx-preserve .AboutHeroBx-item {
        position: absolute;
        width: 355rem;

    }


    .hover_line {
        display: flex;
        color: #000;
        /* padding: 100rem 300rem; */
        height: 500rem;
        position: relative;
        color: #fff;

    }

    .hover_line .hover_img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        /* opacity: 0; */
        animation-name: hover_line_animation;
        overflow: hidden;
        transition: all 1s;
        opacity: 1;

    }

    .hover_line:hover {
        color: #fff;
    }

    .hover_line:hover .hover_img {
        opacity: 1;
    }

    .hover_line .left_text {
        margin-left: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .hover_line_1 .left_text {
        margin: 60rem 100rem;
    }

    .hover_line_2 .left_text {
        /* margin: 100rem 100rem 100rem 300rem; */
        margin: 60rem 100rem;

    }




    .hover_line .left_text .left_text_block h3 {
        font-size: 38rem;
        font-weight: 400;
        line-height: 53rem;
        margin: 0;
        margin-bottom: 10rem;
    }

    .hover_line .left_text .left_text_block h4 {
        font-size: 24rem;
        font-weight: 400;
        line-height: 33rem;
        margin-bottom: 20rem;

    }

    .hover_line .left_text .left_text_block span {
        font-size: 18rem;
        font-weight: 400;
        line-height: 25.2rem;

    }

    .hover_line .left_text .left_text_block .button span {
        margin-top: 20rem;
        margin-right: 10rem;
        display: inline-block;
        width: 140rem;
        height: 36rem;
        border-radius: 18rem;
        background: #FF2222;
        text-align: center;
        line-height: 36rem;
        color: #fff;
    }
}